<!--
<a href="portfolios/new">Create New Item</a>
<%= link_to "Create New Item", new_portfolio_path %>
<%= new_portfolio_path %>
<%= new_portfolio_url %>
-->
<div class="container">
    <div class="row">
        <%= render partial:'portfolio_item', collection: @portfolio_items %>
    </div>
</div>