<h1>Lucas Gabriel S. Alves</h1>
<p>Full Stack developer with many years of experience creating software for small businesses and even large
    corporations such as Unilever, B2W, Callink Solutions, Ilink Solutions and Fidelity Investments.</p>
<br />
<h3>Skills:</h3>
<ul>
    <li>- Java, Spring / Hibernate, HTML5 / Javascript / Typescript, Angular, Angular JS and Vuejs.</li>
    <li>- Node.js, Yarn, NPM</li>
    <li>- SQL / Databases: MySQL, Oracle, SQL Server, Postgresql, MondoDB</li>
    <li>- GIT, SVN, JSON, XML, JIRA</li>
</ul>

<h3>Other information:</h3>
<p>
    - I look forward to many years of coding for work and play.
    - Github: https://github.com/lucasgabrielsa
</p>

<p> Technologies under study:
    React and Ruby on Rails</p>