<h1>Lucas Gabriel S. Alves</h1>
<p>Full Stack developer with many years of experience creating software for small businesses and even large
    corporations such as Unilever, B2W, Callink Solutions, Ilink Solutions and Fidelity Investments.</p>
<br />
<h3>Skills</h3>
<ul class="about-list">
    <li>Java with Spring Framework</li>
    <li>Angular JS, Angular and Vuejs</li>
    <li>HTML5, Javascript and Typescript</li>
    <li>MySQL, Oracle, SQL Server, Postgresql and MondoDB</li>
    <li>GIT, SVN, JSON, XML, JIRA</li>
    <li><a href="https://github.com/lucasgabrielsa">GitHub: github.com/lucasgabrielsa</a></li>
</ul>

<h3>Other informations</h3>
<p>I look forward to many years of coding for work and play.</p>

<p> Technologies under study:
    React and Ruby on Rails</p>