<h1>Contact me</h1>
<p>Lets talk, you find me in the links below</p>
<ul class="about-list">
    <li><a href="https://github.com/lucasgabrielsa">github.com/lucasgabrielsa</a></li>
    <li><a href="https://www.linkedin.com/in/lucasgabrielsa/">linkedin.com/in/lucasgabrielsa</a></li>
    <li><a href="mailto:lucasgabrielsa@hotmail.com">Email</a></li>
</ul>