<h1>Hi, 
    <% if current_user %>
        <%= current_user.first_name%>
    <% else %>
        Não logado!
    <% end %>
</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= @posts.inspect %>
<hr />

<%= @skills.inspect %>
