 <main role="main" class="inner cover">
   <h1 class="cover-heading">Full Stack Developer</h1>
   <p class="lead">
     Developing apps for the best web experience, delivering the best
     results for clients using the best modern technologies,
     with secure, ansurance and quality.
   </p>
   <p class="lead">
     <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
   </p>
 </main>